* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(15, 16, 15);
    color: aliceblue;
    margin: 0;
}

header {
    background-color: rgb(0, 0, 0);
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgb(62, 63, 63);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(197, 203, 203);
    margin-top: 20px;
    margin-bottom: 20px;
}

nav .logo img {
    height: 40px;
    width: 40px;
    margin-bottom: 8px;
    border-radius: 100%;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    color: rgb(119, 115, 118);
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: baground-color 0.3s ease;
    margin-top: 30px;
    font-weight: bold;
}

nav li a:hover {
    background-color: rgb(83, 80, 82);
}

nav ul li a.active {
    background-color: rgb(228, 163, 201);
    color: white;
    font-weight: bold;
}

.hero {
    position: relative;
    background-image: url(l1\ \(1\).jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;

}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    width: 90%;
}

.hero-text h1 {
    font-size: 3rem;
    color: white;
    font-family: Arial;
    font-optical-sizing: auto;
    font-weight: weight;
}

.hero-text p {
    color: rgb(244, 246, 249);
    font-size: 1.2rem;
    font-family: arial;
    font-optical-sizing: auto;
    font-weight: weight;
}

.hero-btn {
    background-color: rgb(83, 80, 82);
}

.hero-button {
    display: inline-block;
    background: transparent;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.hero-text .hero-button:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(61, 62, 60);
    transition: 0.3s ease;
}


.about {
    padding: 5rem;
    background-color: rgb(0, 0, 0);
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.20px;
    background-color: rgb(0, 0, 0);
}

.section-title {
    color: rgb(243, 238, 238);
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.section-title h2 {
    font-size: 15px;
    font-weight: bold;
    color: rgb(244, 241, 241);
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.about-content {
    display: flex;
    grid-template-columns: 2fr repeat(1, 2fr);
    gap: 2;
    padding: 2rem;
}

.about-left,
.about-right {
    text-align: justify;
    padding: 20px;
}

.about-left h3,
.about-right h3 {
    color: azure;
    margin-bottom: 15px;
    font-size: 24px;
}

.about-left p,
.about-right p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-left ul li {
    color: rgb(246, 247, 246);
    margin-right: 10px;
    font-size: 14px;
}

.about-button {
    display: inline-block;
    background: transparent;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.about-button:hover {
    background-color: rgb(228, 163, 201);
    border: 1px solid rgb(77, 76, 76);
    transition: 0.3s ease;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(228, 163, 201);
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.01);
}

.logos {
    max-width: 200px;
    max-height: 100px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    border-radius: 100%;
}

.logos:hover:hover {
    filter: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.card {
    background-color: rgb(0, 0, 0);
    border: 1px solid dd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(228, 163, 201);
    margin: 13px;
    padding: 23px;
    width: 42%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.card img{
    width: 50px;
    border-radius: 100%;
    height: 50px;
}

.card h3 {
    margin: 0;
    font-size: 18px;
    color: rgb(228, 163, 201);
}

.card p {
    margin: 5px;
    color: aliceblue;
}

.filter-btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}

.filter-btn.active,
.filter-btn:hover {
    background-color: rgb(228, 163, 201);
    color: white;
   
}

.filter-btn.active {
    background-color: rgb(228, 163, 201);
    color: white;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    position: relative;
    width: 100%;
    padding-top: 100%;
   
}

.item img {
    position: absolute;
    top: 0;
    left: 8;
    width: 95%;
    height: 80%;
    object-fit: cover;
    
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.item img:hover {
    transform: scale(1.05);
}

#secondary-nav1 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer {
    max-width: auto;
    margin: auto;
    padding: 1rem;
    text-align: center;
    background-color: black;
    color: #ffffff;
}

.foot-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: var(--BackGroundUtama);
    max-width: auto;
    margin: auto;
}

.foot-page{
    border-left: 1px solid var(--BackGroundUtama);
    padding: 1rem 1rem;
    text-align: justify;
}

.foot-btn {
    background-color: beige;
}

.foot-button{
    display: inline-block;
    background: rgb(228, 163, 201);
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.foot-text .foot-button:hover{
    background-color: rgb(228, 163, 201);
    border: 1px solid lightblue;
    transition: 0,5s ease;
}


